# exclude text files in userTextFiles
userTextFiles/authors.txt
userTextFiles/feeds.txt
userTextFiles/keywords.txt
userTextFiles/channel.txt

# exclude cache files
*.pyc

#exclude previous_titles.txt
previous_titles.txt

# exception to the rule
!userTextFiles/.gitkeep 